body {
	background: #f2f2f2;
	background: #2a2a2a;
	font-family: Arial, sans-serif;
	font-size: 10px;
}
h1 {
	font-weight: bold;
	font-size: 24px;
	margin: 2rem 0 1rem 0;
}
h2 {
	font-weight: bold;
	font-size: 16px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0;
}
strong {
	font-weight: bold;
}
#page {
	margin: 1rem auto;
	max-width: 1180px;
	background: #000;
	padding: 1rem;
	font-size: 14px;
	line-height: 1.125rem;
}
.page-inner {
	background: #ececec;
	border: 1px solid #999;
	padding: 0.5rem;
}
.front .page-inner {
	background: #ececec url('/images/bg_map.png') no-repeat 43.142857rem 3.78571rem;
}
#masthead {
	background: #ffcdcd;
	padding: 1rem;
	margin: -0.5rem;
	background-image: url('../images/banner.png');
	position: relative;
	min-height: 3rem;
}
#masthead #mit-libraries {
	position: absolute;
	left: 1rem;
	top: 1rem;
}
#masthead #sitetitle {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	margin-top: 1.4rem;
	margin-right: 6rem;
	margin-left: 8rem;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	line-height: 2rem;
}
#masthead #mit {
	position: absolute;
	right: 1rem;
	top: 1.5rem;
}
#navigation {
	margin-top: 0.5rem;
	background: #2a2a2a;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
#navigation li {
	display: inline;
	display: inline-block;
}
#navigation li a {
	margin-left: 1rem;
	padding: 0.25rem 0.25rem 0.25rem 0;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
#navigation li.login {
	float: right;
}
#navigation li.login a {
	margin-right: 1rem;
	padding: 0.25rem 0rem 0.25rem 0.25rem;
	margin-left: 0;
}
h2.pagetitle {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
section.main {
	display: table-row;
}
#oafilter {
	display: table-cell;
	width: 20%;               /* For old syntax, otherwise collapses. */
	vertical-align: top;
}
#oafilter h2 {
	border-bottom: 1px solid #999;
	margin-top: 0.25rem;
}
#oafilter form {
	margin-bottom: 1rem;
	background-color: #fff;
	padding: 0.5rem;
}
#oafilter .filter {
	max-height: 20rem;
	overflow-y: auto;	
	overflow-x: hidden;
	margin: 0.5rem 0;
	padding: 0;
	padding-right: 1rem;
}
#oafilter .filter .checkbox {
	display: table-row;
}
#oafilter .filter .checkbox:nth-child(odd) {
	/* background-color: #e6e6e6; */
}
#oafilter .filter .checkbox input {
	display: table-cell;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0;
	vertical-align: top;
}
#oafilter .filter .checkbox span {
	display: table-cell;
	padding-bottom: .5rem;
	padding-right: 0.5rem;
	vertical-align: top;
}
/* Export controls */
#oafilter #exports li {
	margin: 0.5rem 0;
}
#oafilter #exports li a {
	cursor: pointer;
}
#oafilter #exports li a:hover,
#oafilter #exports li a:focus {
	text-decoration: underline;
}

#tabs {
	display: table-cell;
	width: 80%;               /* For old syntax, otherwise collapses. */
	vertical-align: top;
	padding-left: 10px;
	background-color: #ececec;
}
#tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tabs ul li {
	display: block;
	width: 33.33%;
	float: left;
	text-align: center;
}
#tabs ul li a {
	display: block;
	padding: 0.5em;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
#tabs ul li a:hover,
#tabs ul li a:focus {
	background: #f2f2f2;
}
#tabs ul li.ui-state-active {
	background: #fff;
}
.ui-tabs-panel {
	clear: both;
	background: #fff;
	padding: 1em;
}
.semantic {
	position: absolute;
	left: -999px;
	top: -999px;
}
/* DataTables overrides */
#page .dataTable thead th {
	border-bottom: 1px solid #aaa;
}
#page .dataTable tr {
	border-bottom: 1px solid #aaa;
}
#page .dataTable td {
	padding: 5px 10px;
	border-left: 1px solid #aaa;
}
#page .dataTable td:first-child {
	border-left: none;
}
#page .dataTable tr.odd:hover td {
	background-color: #e6daac !important;
}
#page .dataTable tr.even:hover td {
	background-color: #e6daac !important;
}
#page .dataTables_paginate {
	float: none;
	text-align: center;
	margin-top: 1em;
}
#page .paging_full_numbers a.paginate_button,
#page .paging_full_numbers a.paginate_active {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #000 !important;
}
#page .paging_full_numbers a.paginate_active {
	background-color: #9E8E4D;
}
#page .dataTable a img { 
	margin-right: 6px;
}
#page table.dataTable tr.odd { background-color: white; }
#page table.dataTable tr.even { background-color: white; }
#page table.dataTable tr.odd td.sorting_1 { background-color: white; }
#page table.dataTable tr.even td.sorting_1 { background-color: white; }
#page .sorting,
#page .sorting_desc,
#page .sorting_asc {
	background-position: center left;
}
#page .sorting_desc {
	background-image: url('../images/sort_desc_a.png');
}
#page .sorting_asc {
	background-image: url('../images/sort_asc_a.png');
}
#page table.dataTable thead th {
	padding: 3px 10px 3px 18px;
}
/* general styles */
.error {
	background-color: #5B0C06;
	color: #ffffff;
	padding: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.error h2,
.error p {
	margin-bottom: 1rem;
}
.warning {
	background-color: #5B0C06;
	color: #ffffff;
	padding: 0.5em;
	margin-bottom: 1em;
}
#content {
	max-width: 700px;
}
#content h2 {
	margin-bottom: 1rem;
}
#content p {
	margin-bottom: 1rem;
}
#content p.option {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	border: 1px solid #aaa;
}
#content p.option:hover {
	background-color: #e6daac;
}
p.option a {
	text-decoration: none;
	color: black;
}
p.option span {
	display: table-cell;
	vertical-align: top;
}
p.option span.button {
	font-weight: bold;
	width: 20%;
	color: black;
	font-size: 16px;
}

/* Colophon */
#colophon {
	margin-top: 1rem;
	color: #ccc;
}
#colophon .center {
	display: block;
	vertical-align: top;
	text-align: center;
	line-height: 1.5rem;
}
#colophon a {
	text-decoration: none;
	color: #ccc;
}
#colophon a:hover,
#colophon a:focus {
	text-decoration: underline;
}
#colophon .left {
	color: #ccc;
}
#colophon .right {
	text-align: right;
}
/* Admin control panel */
#administration {
	background-color: #fff;
	padding: 1rem;
	margin-top: 1rem;
}