body {
	background: #f2f2f2;
	background: #2a2a2a;
	font-family: Arial, sans-serif;
	font-size: 10px;
}
h1 {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
h2 {
	font-weight: bold;
	font-size: 16px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0;
}
strong {
	font-weight: bold;
}
#page {
	margin: 1rem auto;
	max-width: 1180px;
	background: #000;
	padding: 1rem;
	font-size: 13px;
}
.page-inner {
	background: #fff;
	border: 1px solid #999;
	padding: 0.5rem;
}
#masthead {
	background: #ffcdcd;
	padding: 1rem;
	margin: -0.5rem;
	background-image: url('../images/banner.png');
}
#navigation {
	margin-top: 0.5rem;
	background: #2a2a2a;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
#navigation li {
	display: inline;
	display: inline-block;
}
#navigation li a {
	margin-left: 1rem;
	padding: 0.25rem 0.25rem 0.25rem 0;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
#navigation li.login {
	float: right;
}
#navigation li.login a {
	margin-right: 1rem;
	padding: 0.25rem 0rem 0.25rem 0.25rem;
	margin-left: 0;
}
h2.pagetitle {
	margin-top: 1rem;
}
section.main {
	margin-top: 1rem;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
}
#oafilter {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-right: 1rem;
	background-color: #ccc;
	padding: 0.25rem;
}
#oafilter h2 {
	border-bottom: 1px solid #999;
	margin-top: 0.25rem;
}
#oafilter form {
	margin-bottom: 1rem;
}
#oafilter .filter {
	max-height: 20rem;
	overflow-y: auto;	
	margin: 0.5rem 0;
}
#oafilter .filter .checkbox {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: .5rem;
}
#oafilter .filter .checkbox input {
	margin-right: .5rem;
	width: 15px;               /* For old syntax, otherwise collapses. */
}
#oafilter .filter .checkbox span {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 100%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* Export controls */
#oafilter #exports li {
	margin: 0.5rem 0;
}
#oafilter #exports li a {
	cursor: pointer;
}

#tabs {
	-webkit-box-flex: 4;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 4;         /* OLD - Firefox 19- */
	width: 80%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 4;          /* Chrome */
	-ms-flex: 4;              /* IE 10 */
	flex: 4;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tabs ul li {
	display: block;
	width: 33.33%;
	float: left;
	text-align: center;
}
#tabs ul li a {
	display: block;
	padding: 0.5em;
	color: #000;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-bottom: none;
	font-size: 16px;
	font-weight: bold;
}
#tabs ul li a:hover,
#tabs ul li a:focus {
	background: #f2f2f2;
}
#tabs ul li.ui-state-active {
	background: #eaeaea;
}
.ui-tabs-panel {
	clear: both;
	background: #eaeaea;
	padding: 1em;
}
.semantic {
	position: absolute;
	left: -999px;
	top: -999px;
}
/* DataTables overrides */
#page .dataTable td {
	padding: 5px 10px;
}
#page .dataTables_paginate {
	float: none;
	text-align: center;
	margin-top: 1em;
}
#page .paging_full_numbers a.paginate_button,
#page .paging_full_numbers a.paginate_active {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#page table.dataTable tr.odd { background-color: #e6e6e6; }
#page table.dataTable tr.even { background-color: white; }
#page table.dataTable tr.odd td.sorting_1 { background-color: #d8d8d8; }
#page table.dataTable tr.even td.sorting_1 { background-color: #ececec; }

/* general styles */
.warning {
	background-color: #5B0C06;
	color: #ffffff;
	padding: 0.5em;
	margin-bottom: 1em;
}
#content {
	max-width: 700px;
}
#content h2 {
	margin-bottom: 1rem;
}
#content p {
	margin-bottom: 1rem;
}
/* Colophon */
#colophon {
	margin-top: 1rem;
	color: #ccc;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
}
#colophon .block.left {
	-webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 2;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 2;          /* Chrome */
	-ms-flex: 2;              /* IE 10 */
	flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#colophon .block.center {
	-webkit-box-flex: 5;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 5;         /* OLD - Firefox 19- */
	width: 50%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 5;          /* Chrome */
	-ms-flex: 5;              /* IE 10 */
	flex: 5;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#colophon .block.right {
	-webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 3;         /* OLD - Firefox 19- */
	width: 30%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 3;          /* Chrome */
	-ms-flex: 3;              /* IE 10 */
	flex: 3;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#colophon a {
	text-decoration: none;
	color: #ccc;
}
#colophon a:hover,
#colophon a:focus {
	text-decoration: underline;
}
#colophon .left {
	color: #ccc;
}
#colophon .right {
	text-align: right;
}
#administration {
	background-color: #fff;
	padding: 1rem;
	margin-top: 1rem;
}