body {
	background: #f2f2f2;
	background: #2a2a2a;
	font-family: Arial, sans-serif;
}
h1 {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0;
}
strong {
	font-weight: bold;
}
#page {
	margin: 1em auto;
	max-width: 960px;
	background: #000;
	padding: 1em;
}
.page-inner {
	background: #fff;
	border: 1px solid #eaeaea;
	padding: 0.5em;
}
#masthead {
	background: #ffcdcd;
	padding: 1em;
	margin: -0.5em;
	background-image: url('../images/banner.png');
}
#usertab a {
	margin-top: 0.5em;
	margin-left: 1em;
	padding: 0.25em;
	float: right;
	background: #DA9B9B;
	text-decoration: none;
	color: #000;
}
#breadcrumb {
	clear: both;
	margin: 1em 0;
}
#breadcrumb .level:before {
	content: '> ';
}
#oafilter {
	margin: 2em 0;
	min-height: 10em;
}
#tabs {
}
#tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tabs ul li {
	display: block;
	width: 33%;
	float: left;
	text-align: center;
}
#tabs ul li a {
	display: block;
	padding: 0.5em;
}
#tabs ul li a:hover,
#tabs ul li a:focus {
	background: #f2f2f2;
}
#tabs ul li.ui-state-active {
	background: #eaeaea;
}
.ui-tabs-panel {
	clear: both;
	background: #eaeaea;
	padding: 1em;
}
.semantic {
	position: absolute;
	left: -999px;
	top: -999px;
}
/* DataTables overrides */
#page .dataTables_paginate {
	float: none;
	text-align: center;
	margin-top: 1em;
}
/* Export controls */
.export {
	float: right;
	margin-bottom: 1em;
}
.export a {
	background-color: #ddd;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	color: #333 !important;
}
.export a:hover,
.export a:focus {
	background-color: #ccc;
	text-decoration: none;
}
/* general styles */
.warning {
	background-color: #da9b9b;
	color: #000;
	padding: 0.5em;
	margin-bottom: 1em;
}

